* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.layout {
    background-color: #52B6B0;
    margin-top: 0.01%;
    height: 90px;
    z-index: 10;
    position: relative;
}

html {
    font-size: 60%;
    color: #ffffff;
}

body {
    position: relative;
    background-image: url("../perfil_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

nav a {
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-right: 2rem;
}

nav a:hover,
nav a.active {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    position: relative;
    z-index: 5;
}

.home {
    position: relative;
    margin-top: 0.5px;
}

.logo-img {
    height: 70px;
    margin-right: 1rem;
}

.media-body {
    display: flex;  /* Usar flexbox para alinhar os itens lado a lado */
    align-items: center;  /* Alinhar verticalmente os itens */
    background-color: #0E0D27;
    color: #ffffff;
    width: auto;
    border-radius: 10px;
    padding: 1rem;
    font-size: medium;
    gap: 20px;  /* Espaço entre a imagem e o texto */
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
}

.media-body p {
    margin: 0;
}

.media-body .foto {
    border-radius: 100%;
    padding: 15px;
}

.media-two {
    margin-top: 15px;
    width: 1120px;
    height: 250px;
    background-color: #0E0D27;
    border-radius: 10px;
    text-align: justify;
    font-size: medium;
    color: #ffffff;
}

.media-two p {
    margin: 1.5%;
    margin-right: 35px;
    font-size: larger;
}

.form-check{
    margin-left: 50px;
    margin-right: 35px;
}
